{% load static %}
<html data-color-scheme="dark" color-scheme="dark">
    <head>
        <title>Challenge Creation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'tracker/deploy/tailwind.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="http://fonts.cdnfonts.com/css/edo-sz" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <script src="{% static 'tracker/htmx.min.js' %}" type='text/javascript' defer><!-- required for some browsers ??? --></script> 
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <form action="/create/" method="post" id='challenge_form'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type='button' hx-get="{% url 'player_form' %}" hx-swap="beforeend" hx-target='#player_forms'>Add another user</button>
                <div id='player_forms'>

                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>