html {
  background-color: rgb(46, 46, 46);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
    margin-top: auto;
    display:flex;
    flex-direction:column;
    vertical-align:center;
    text-align:center;
    justify-content: center;
    align-items: center;
    horiz-align:center;

}
#contenido {
    background-color:rgba(64, 64, 64);
    border-radius:20px;
    padding: 5%;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: rgb(214, 214, 214);
}
.bottom {
    position:fixed;
    bottom:5%;
    display:flex;
    flex-direction:column;
    vertical-align:bottom;
    justify-content: bottom;
    align-items: center;
    horiz-align:center;
    font-family: 'Roboto Mono', monospace;
}
#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    /*font-family: 'Roboto Mono', monospace;*/
}

.ranktable, th, td {
    border: 0.5px solid rgba(214, 214, 214, 0.33);
    margin:0px 10px 10px 10px;
    padding:5px;
    border-radius:5px;
}

a:link {
  color: rgb(108, 153, 187);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(158, 134, 200);
  background-color: transparent;
  text-decoration: none;
}

input {
    background-color: rgb(214, 214, 214);
    color: rgb(46, 46, 46);
    border-radius: 5px;
    border: none;
}
