{% load render_table from django_tables2 %}
{% load static %}
{% load cache %}
<!-- TODO: FIXME: !!! IMPORTANT !!! page is broken on other displays, check out tailwind responsize sizing-->
<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <title>Skaarladder :: {{ challenge_name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="http://fonts.cdnfonts.com/css/edo-sz" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="{% static 'tracker/deploy/tailwind.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <script src="{% static 'tracker/hyperscript.min.js' %}" type='text/javascript' defer></script> 
        <script src="{% static 'tracker/htmx.min.js' %}" type='text/javascript' defer></script> 
    </head>
    <body class="overflow-x-hidden">
        {% cache 1000 navbar_modal %}
            {% include 'tracker/partials/navbar.html' %}
            {% include "tracker/partials/modal_div.html" %}   
        {% endcache %} 
        <div class="flex items-center justify-center w-screen h-screen overflow-hidden text-white bg-neutral-900"> 
            <div class="flex flex-col items-center justify-start w-full h-full"> 
                <div name="title" class="flex flex-col mt-16 text-center">
                    <strong class="inline text-4xl font-light drop-shadow-md">Uh. You found an error.</strong>
                </div>
                <div name="detail" class="flex flex-row justify-center w-full h-full mt-16">
                    <div name="description" class="flex flex-col mt-16 ml-32">
                        <strong class="text-xl font-bold drop-shadow-lg">To return to the last page, <a href="{{request.META.HTTP_REFERER}}">click here</a></strong>
                        {% if code != "" %}
                            <p class="mt-4 font-medium">You found an error with code {{ code }}. Go back and try again, and if it happens again report it to the developers, <a href="https://github.com/Josde/SimpleSoloQTracker/issues/new"> clicking here.</a></p>
                            <p class="mt-4 font-medium">Error code {{ code }} means TODO AÑADIR DESCRIPCION</p>
                        {% else %}
                            <p class="mt-4 font-medium">This error has no description attached. Go back and try again, and if it happens again report it to the developers, <a href="https://github.com/Josde/SimpleSoloQTracker/issues/new"> clicking here.</a></p>
                        {% endif %}
                    </div>
                    <div name="image" class="flex flex-col mt-16 ml-32">
                        <strong class="text-xl font-bold drop-shadow-lg">How do I use it?</stro>
                        <p class="mt-4 font-medium">Click on the '+' button at the top or <a class='font-bold' href="{% url 'create_challenge' %}">here</a> to begin.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% cache 1000 footer %}
        {% include "tracker/partials/footer.html" %} 
    {% endcache %}
    </body>
</html>