{% load render_table from django_tables2 %}
{% load static %}
{% load cache %}
{% load tags %}
<!DOCTYPE html> 
<html lang="en" data-color-scheme="dark" color-scheme="dark">
    <head>
        <title>Skaarladder :: {{ ladder_name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="http://fonts.cdnfonts.com/css/edo-sz" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="{% static 'tracker/deploy/tailwind.css' %}" rel="stylesheet">
        <link href="{% static 'tracker/bugfix.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <script src="{% static 'tracker/htmx.min.js' %}" type='text/javascript' defer></script> 
        <script src="{% static 'tracker/hyperscript.min.js' %}" type='text/javascript' defer></script> 
    </head>
    <body class="md:overflow-x-hidden no-scrollbar">
        {% cache 1000 navbar_modal %}
            {% include 'tracker/partials/navbar.html' %}
            {% include "tracker/partials/modal_div.html" %}   
        {% endcache %}
        <div class="flex items-center justify-center w-screen h-screen text-white bg-neutral-800 "> 
            <div class="flex md:w-[64rem] h-full bg-neutral-700 text-white flex-col drop-shadow-xl overflow-auto overflow-x-hidden">
                <h1 id="title" class="m-4 text-4xl font-bold text-center text-white shadow-sm md:m-8 md:pt-16 font-bebas">{{ ladder_name }}</h1>
                <div class='flex flex-col justify-end'>
                    <span class="text-lg text-center">Use this code to access the ladder: {% include 'tracker/partials/copy_on_click.html' with content=ladder_id css_class='font-bold' %}</span>
                    <span class="text-center">The ladder is currently: <strong>{{  ladder_status }}</strong></span>
                    {% if ladder_status == "Ongoing" %}
                    <span class="text-center">Ends on <strong>{{ end_date }}</strong></span>
                    {% elif ladder_status == "Future" %}
                    <span class="text-center">Starts on <strong>{{ start_date }}</strong> and ends on <strong>{{ end_date }}</strong></span>
                    {% elif ladder_status == "Done"%}
                    <span class="text-center">Started on <strong>{{ start_date }}</strong> and ended on <strong>{{ end_date }}</strong></span>
                    {% endif %}
                    <p><strong class="text-center">{{ bottomMessage }}</strong></p>
                    <a class="pb-4"></a>
            </div>
                <hr class="bg-neutral-600"></hr>
                <div class="flex justify-center w-full h-full p-2 md:p-8">
                        {% render_table table %} 
                        {%csrf_token%} 
                </div>
                
            </div>
        </div>
    </div>
    {% cache 1000 footer %}
        {% include "tracker/partials/footer.html" %} 
    {% endcache %}
    </body>
</html>