{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load cache %}
<!DOCTYPE html>
<html data-color-scheme="dark" color-scheme="dark" lang="en">
    <head>
        <title>Ladder Creation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'tracker/deploy/tailwind.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="http://fonts.cdnfonts.com/css/edo-sz" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="{% static 'tracker/bugfix.css' %}" rel=stylesheet>
        <link href="{% static 'tracker/loader.css' %}" rel=stylesheet>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <script src="{% static 'tracker/htmx.min.js' %}" type='text/javascript' defer></script> 
        <script src="{% static 'tracker/hyperscript.min.js' %}" type='text/javascript' defer></script> 
    </head>
    <body class="overflow-x-hidden">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            {% cache 1000 navbar_modal %}
                {% include 'tracker/partials/navbar.html' %}
                {% include "tracker/partials/modal_div.html" %}   
            {% endcache %}
            <div class="flex flex-row w-screen h-screen overflow-auto bg-neutral-900"> 
            <form class="flex flex-row mt-16 ml-[10%] flex-nowrap"action="/create/" method="post" id='ladder_form'>
                <div class="flex flex-col p-16">
                    {% csrf_token %}
                    {% crispy form form.helper %}
                </div>
                    <div class="flex flex-col items-start mt-16 text-center">
                        <form id="ladder_form" method="post">
                            <strong class="justify-start px-4 text-white">Players</strong>
                            <button class="px-4 py-2 m-4 text-4xl font-bold text-center text-white bg-blue-500 rounded place-self-start" 
                            hx-get="{% url 'player_form' %}" hx-swap="beforeend" hx-target='#player_forms'>+</button>
                            <div id='player_forms' class="max-h-[80%] flex flex-col flex-wrap">
                                <!-- forms get added here programmatically through htmx on the + button -->
                                {% for form in player_forms %}
                                    {% with form_id=form.form_id %}
                                        {% include 'tracker/partials/user_form.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </form>
                </div>
                </div>
                
            </form>
        </div>
        </div>
        {% cache 1000 footer %}
            {% include 'tracker/partials/footer.html' %}  
        {% endcache %}  
    </body>
</html>