{# tutorial/templates/tutorial/people.html #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'tracker/tracker.css' %}">
        <link href="http://fonts.cdnfonts.com/css/edo-sz" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
        <title>LISTA DE CHAVALES</title>
    </head>
    <body>
        <center>
        <div class="center">
            <h1 id="title">LIGUILLA DEL LOL</h1>
            {% render_table table %}
            <form action="{% url 'index' %}" method="post">
                <input type="submit" value="Recargar Datos" name="botonDatos">
                {%csrf_token%}
            </form>
            <p>Ultima Actualización: {{ date }}</p>
        </div>
        </center>
    </body>
</html>