{% load static %}
<!DOCTYPE html>
<!--TODO: Kinda looks jank at very low res, add minimum widths to search and such.-->
<div name="backdrop" class="flex items-center justify-center w-screen h-screen transition-all duration-300 ease-in-out bg-black bg-opacity-80 place-content-center -z-10" 
    hx-headers={{ csrf_token }}>
    <div name="search_window" class="flex flex-col w-[75%] h-[50%] z-10 bg-transparent md:bg-neutral-800 content-center">
        <button class="justify-end p-4 m-4 text-2xl text-white place-self-center md:row-start-auto rounded-xl bg-neutral-700" hx-swap="innerHTML" hx-target="#popup_body" hx-get="">X</button>
        <div name="search_box" class="flex flex-row justify-center w-full h-8 md:h-16 rounded-xl">
            <form hx-post="{% url 'ladder' %}" hx-include="#search_input" class="flex flex-row w-[50%]" >
                {% csrf_token %}
                <input id="search_input" name="search_input" type='text' placeholder="Ladder code"
                  class='justify-center flex-grow w-full h-full p-4 m-4 text-white border-none bg-neutral-500 placeholder-neutral-300 focus:outline-none rounded-xl'>
            </input>
            <button class="justify-center p-4 m-2 md:m-4 btn btn-primary text-white-900" type="submit" action="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="object-contain w-4 h-4" viewBox="0 0 20 20" fill="white">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </button>
            </form>
        </div>
    </div>
</div>